* {
    box-sizing: border-box;
}

:root {
    --bg: #000;
    --c-white: #fff;
    --c-gray: #495057;
    --c-text: #212529;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

canvas,
video {
    flex-grow: 1;
}

canvas {
    display: none;
}

button {
    font-family: 'Roboto', sans-serif;
    color: var(--c-text);
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Utils */
.fs-2 {
    font-size: 2rem;
}

.show {
    display: block !important;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Nav */
nav {
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: '. capture upload';
    justify-items: center;
    align-items: center;
}

button.upload,
button.capture {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

button.upload {
    height: 3rem;
    width: 3rem;
    grid-area: upload;
    color: var(--c-white);
}

button.upload input {
    display: none;
}

button.capture {
    grid-area: capture;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--c-white);
    border: 0.7rem solid var(--c-gray);
}

/* Modal */
.modal-dialog {
    padding: 0.5rem 1rem;
    color: var(--c-text);
    background-color: var(--c-white);
    width: 33vw;
    border-radius: 0.5rem;
    border: 1px solid var(--c-gray);
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    outline: 0;
}

/* Loading */
.loading-logo {
    --animation-time: 2s;
}

.l1 {
    animation: to-blue-1 var(--animation-time) linear infinite alternate;
}

.l2 {
    animation: to-blue-2 var(--animation-time) linear infinite alternate;
}

.l3 {
    animation: to-blue-3 var(--animation-time) linear infinite alternate;
}

@keyframes to-blue-3 {
    0%,
    66% {
        color: var(--start);
    }
    100% {
        color: var(--finish);
    }
}

@keyframes to-blue-2 {
    0%,
    33% {
        color: var(--start);
    }
    100% {
        color: var(--finish);
    }
}

@keyframes to-blue-1 {
    0% {
        color: var(--start);
    }
    33%,
    100% {
        color: var(--finish);
    }
}

.line {
    --start: hsl(220 60% 85%);
    --finish: hsl(220 60% 25%);
    color: var(--start);
    stroke: currentColor;
}

.circle.l1 {
    --start: hsl(95 60% 85%);
    --finish: hsl(95 60% 25%);
}

.circle.l2 {
    --start: hsl(200 60% 85%);
    --finish: hsl(200 60% 25%);
}

.circle.l3 {
    --start: hsl(50 60% 85%);
    --finish: hsl(50 60% 25%);
}

.circle {
    fill: currentColor;
    stroke: var(--c-gray);
    stroke-width: 1;
}
